body {
    background-color: black;
}

.title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
}

.align-left {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 4px;
}

label {
    color: white;
}

input:hover {
    cursor: pointer;
    
}

.align-right {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 4px;
}

button {
    color: #0075ff;
    background-color: black;
    padding: 11px;
    border: solid 1px #0075ff;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    color: black;
    background-color: #0075ff;
}

.container {
    display:flex;
    justify-content:center;
}

#bars {
    display: flex;
    width: 60%;
    height: 300px;
    justify-content: center;
    margin: 50px 0px;
}

.divbars{
    float:left;
    background: yellow;
    margin: 0px 1px;
}

.selected {
    color: white;
    border-color: green;
    background-color: green;
}

.unselected {
    color: white;
    border-color: red;
    background-color: red;
}

@media all and (max-width:455px) {
    .align-left {
        flex-direction : column;
        row-gap : 4px;
    }

    .align-right {
        flex-direction : column;
        row-gap : 4px;
    }
}