body {
    background-color: black;
}

.title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
}

.align-left {
    padding: 0.5rem;
    margin-right: 5rem;
}

label {
    color: white;
}

input:hover {
    cursor: pointer;
    
}

.align-right {
    margin-left: 5rem;
}

button {
    color: #0075ff;
    background-color: black;
    padding: 11px;
    border: solid 1px #0075ff;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    color: black;
    background-color: #0075ff;
}

#bars {
    display: flex;
    flex-wrap: nowrap;
    width: 60%;
    height: 300px;
    justify-content: center;
    margin: 50px 250px;
    transition: 2s all ease;
}

.divbars{
    float:left;
    background: yellow;
    margin: 0px 1px;
}

.selected {
    color: white;
    border-color: green;
    background-color: green;
}

.unselected {
    color: white;
    border-color: red;
    background-color: red;
}